<%- include('../partials/head.ejs') %>
</head>

<body>
  <%- include('../partials/navigation.ejs') %>
  <main>
    <% if (products.length > 0) { %>
      <ul>
        <% products.forEach(cartProduct => { %>
          <li>
            <%= cartProduct.title %> ( <%= cartProduct.cartItem.quantity %> )
            <form action="/cart/delete-product" method="POST">
              <button class="btn" type="submit">Delete</button>
              <input type="hidden" name="productId" value="<%= cartProduct.id %>">
              <input type="hidden" name="productPrice" value="<%= cartProduct.price %>">
            </form>
          </li>
        <% }); %> 
      </ul>
      <div class="centered">
        <form action="/create-order" method="POST">
          <button type="submit" class="btn">Order now</button>
        </form>
      </div>
    <% } else { %> 
      <h1>No products in cart</h1>
    <% }; %> 
  </main>
  <%- include('../partials/end.ejs') %>